{% extends 'social/base.html' %}
{% block block_body %}
<div class="row">
    {% if user_posts %}
    <ul>
        {% for p in user_posts %}
        <li> <p><b>Author:</b> {{ p.author.user.username }}  </p>
            <p><b>Content:</b> {{ p.content }}</p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if authors %}
    <div class="page-header">
        <h1>Authors</h1>
        <p class="text-info"> Connect with your fellow <strong>believers</strong>!</p>
    </div>
    <div class="row">
        <div class="col-md-8">
          {% for a in authors %}
          <div class="media">
                <a class="pull-left" href="/authors/{{a.user.username}}">
                  {% if a.image %}
                    <img class="media-object" style="width: 75%; height: auto" src="{{ a.image.url | urlencode }}"/>
                  {% else %}
                    <img class="media-object" src="/static/img/placeholder.png"/>
                  {% endif %}
                </a>
              <div class="media-body">
                  <h3 class="media-heading">{{ a.get_full_name }}  <small>({{a.user.username}})</small></h3>
                  <p>{{a.user.email}}</p>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>
    {% endif %}

  {% if author %}
  <h1>{{ author.user.username }}</h1>
  <p><b>Email:</b> {{ author.user.email }}</p>

  {% endif %}

  {% if post %}
  <p><b>Author:</b> {{ post.author.user.username }}</p>
  <p><b>Content: </b> {{ post.content }} </p>
  {% endif %}
</div>
{% endblock %}