{% extends 'social/base.html' %}
{% block block_body %}

<div class="row">
	<div class="page-header">
		<h1>Upload an Image</h1>
	</div>
</div>

{% if success %}
<div class="alert alert-success">
	Image uploaded successfully!
</div>
{% endif %}
<div class="row col-md-9 col-md-offset-1">

<form action="/images/upload/" method="post" enctype="multipart/form-data">
 {% csrf_token %}
 <p>
 <input id="id_image" type="file" name="image">
 </p>
 <input type="submit" class="btn btn-default" value="Upload Image">
 </form>

</div>


<script>
	function selectDefault(){
		document.getElementById("text_content").click();
	}
</script>
<body onload="selectDefault()">
	{% endblock %}
