{% extends 'social/base.html' %}
{% block block_body %}
<div class="row">
	<div class="page-header">
		<h1><a href="/friends/"><span class="glyphicon glyphicon-chevron-left"></span></a>  Find a Friend</h1>
	</div>
	<form class="form-horizontal" role="form" method="POST" action="/friends/search/">
		{% csrf_token %}
		<div class="form-group">
			<label for="friendSearch" class="col-sm-1 control-label">Search:</label>
			<div class="col-sm-2">
				<select class="form-control" name="host_name">
					<option>Select Host</option>
					{% for host in hosts %}
						<option>{{ host }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="friend_name" placeholder="Enter a name"/>
			</div>
			<div class="col-sm-1">
				<button type="submit" class="btn btn-success">Search!</button>
			</div>
		</div>
	</form>
	<hr/>
	<div class="col-md-9 col-md-offset-1">
		<div class="media">
                <a class="pull-left" href="/authors/{{a.user.username}}">
                  {% if a.image %}
                    <img class="media-object" style="width: 75%; height: auto" src="{{ a.image.url | urlencode }}"/>
                  {% else %}
                    <img class="media-object" src="/static/img/placeholder.png"/>
                  {% endif %}
                </a>
              <div class="media-body">
                  <h3 class="media-heading"> FRIEND FULL NAME  <small>(friendUserName)</small>   <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add Friend</a></h3>
                  <p>Host: Kanto Region</p>
                  <p>My Email @hotmail.com</p>
              </div>
        </div>
        <div class="media">
                <a class="pull-left" href="/authors/{{a.user.username}}">
                  {% if a.image %}
                    <img class="media-object" style="width: 75%; height: auto" src="{{ a.image.url | urlencode }}"/>
                  {% else %}
                    <img class="media-object" src="/static/img/placeholder.png"/>
                  {% endif %}
                </a>
              <div class="media-body">
                  <h3 class="media-heading"> FRIEND FULL NAME  <small>(friendUserName)</small>   <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add Friend</a></h3>
                  <p>Host: Johto Region</p>
                  <p>My Email @hotmail.com</p>
              </div>
        </div>
	</div>
</div>
{% endblock %}
