{% extends 'social/base.html' %}
{% block block_body %}
<div class="row">
	<div class="page-header">
		<h1><a href="/friends/"><span class="glyphicon glyphicon-chevron-left"></span></a>  Find a Friend</h1>
	</div>
	<form class="form-horizontal" role="form" method="POST" action="/friends/search/">
		{% csrf_token %}
		<div class="form-group">
			<label for="friendSearch" class="col-sm-1 control-label">Search:</label>
			<div class="col-sm-2">
				<select class="form-control" name="host_name">
					<option>Select Host</option>
					{% for host in hosts %}
						<option>{{ host }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="friend_name" placeholder="Enter a name"/>
			</div>
			<div class="col-sm-1">
				<button type="submit" class="btn btn-success">Search!</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
