{% extends 'social/base.html' %}
{% block block_body %}
<div class="page-header col-md-6 col-md-offset-3">
  <h1 class="text-warning"><img src="/static/img/omanyteSmall.png"/>SOCIAL HELIX</h1>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <blockquote class="blockquote-reverse">
    <p>That is <strong>SO</strong> hot right now.</p>
    <footer>Mugatu</footer>
  </blockquote>
    <h2><span class="glyphicon glyphicon-fire"></span>  We are PASSIONATE </h2>
    <p class="text-danger">&nbsp; We are a hip, new, totally grassroots social media web 2.0 service to help you find your inner <strong>SOCIAL</strong> self!</p>
    <h2><span class="glyphicon glyphicon-leaf"></span>  We are ENVIRONMENTAL</h2>
    <p class="text-success">&nbsp; Environmental bullshit here for the hippies</p>
    <h2><span class="glyphicon glyphicon-heart"></span>  We LOVE you LONG TIME</h2>
    <p class="text-info">&nbsp; Feel-good love marketing bullshit to make people happy</p>
  </div>
</div>
{% endblock %}