{% extends 'social/base.html' %}
{% block block_body %}
<div class="row">
	<div class="page-header">
		<h1>Posts by {{ author.user.username }}</h1>
	</div>
	<div class="col-md-2">
		<a href="/authors/{{author.user.username}}/post" class="btn btn-primary">Create New Post</a>
	</div>
	<div class="col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title">Posts</h2>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<div class="text-right">
						<a href=""><span class="glyphicon glyphicon-remove"></span></a>
					</div>
					<h4 class="list-group-item-heading"> December 25, 2013, 18:24:35 </h4>
					<p class="list-group-item-text">This is a test example of a post</p>			
				</li>
				{% for post in user_posts %}
				<li class="list-group-item">
					<div class="text-right">
						<a href=""><span class="glyphicon glyphicon-remove"></span></a>
					</div>
					<h4 class="list-group-item-heading"> {{ post.time_stamp }} </h4>
					<p class="list-group-item-text">post.content</p>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}