{% extends 'social/base.html' %}
{% block block_body %}
<div class="row">
	<div class="col-md-2">
		<div class="page-header">
			<h2><strong> My Posts </strong></h2>		
		</div>
		<div class="list-group">
			<p><a href="/posts/create" class="btn btn-success btn-block">Create New Post</a></p>
			<p><a href="/" class="btn btn-primary btn-block">Home</a></p>
		</div>
	</div>
	<div class="col-md-8">
		<div class="page-header">
			<h2> Posts </h2>
		</div>
		<div class="list-group">
			{% if user_posts == None %}
				<p> You have no posts! </p>
			{% else %}
				{% for post in user_posts %}
					<a href="/posts/{{post.id}}" class="list-group-item">
						<h4 class="list-group-item-heading">{{post.title}}  <small>{{post.pubDate}}</small></h4>
						<div class="well">
							<p class="list-group-item-text">{{post.content | safe}}</p>
						</div>
						<p class="list-group-item-text text-right"><small><strong>{{post.comment_set.all|length}} Comments</strong></small></p>
					</a>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
