{% extends 'social/base.html' %}
{% block block_body %}
<div class="row">
	<div class="col-md-2">
		<div class="page-header">
			<h2><strong> My Posts </strong></h2>		
		</div>
		<div class="list-group">
			<p><a href="/posts/create" class="btn btn-success btn-block">Create New Post</a></p>
			<p><a href="/" class="btn btn-primary btn-block">Home</a></p>
		</div>
	</div>
	<div class="col-md-8">
		<div class="page-header">
			<h2><span class="glyphicon glyphicon-comment"></span>  All My Posts </h2>
		</div>
		<div class="list-group" id="mainstuff">
			<script>
			var loadPosts = function() {
			$.getJSON( "/api/authors/{{author.guid}}/posts/", function( data ) {
					
				var html = '';	
				for(var i =0; i < data.length; i++){
     					item = data[i];
					html += ("<a href=\"/posts/"+item.guid+"\" class=\"list-group-item\">");
					html += ("<h2 class=\"list-group-item-heading\">"+item.title+"</h2>");
					html += ("<h4 class=\"list-group-item-heading text-right\">"+item.author.displayname+ " <small>on "+item.pubDate+"</small></h4>");	
					html += ("<div class=\"well\">");
					html += ("<p class=\"list-group-item-text\">"+item.content+"</p>");
					html += ("</div>");
					html += ("<p class=\"list-group-item-text text-right\"><small><strong>"+item.comments.length+" Comments</strong></small></p>");
					html += ("</a>");
				}
				$("#mainstuff").html(html);
				}
			);
			}
			loadPosts();
			setInterval(loadPosts, 1000);
			</script>
		</div>
	</div>
</div>
{% endblock %}
