{% extends 'social/base.html' %}
{% block block_body %}
<div class="row">
	{% if author.user == request.user %}
		<div class="alert alert-info alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Hey!</strong> This is what other people will see when they look at your profile.  To edit your profile, click on the "Welcome" link on the upper right hand corner!
		</div>
	{% endif %}
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<!-- <h1>{{ author.user.username }} <a href="" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add Friend</a></h1> -->
				<h1>
					{{ author.get_full_name }} <small>({{author.user.username}})</small>
				</h1>
				<form method="POST" action="/authors/{{user.username}}/friends/addfriend/">
					{% csrf_token %}
					
					{% if not author.user.username in our_friends %}
					<input type="hidden" name="friend_name" value="{{author.user.username}}"/>
					<input type="submit" value="Add Friend" class="btn btn-success"/>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-3 text-center">
				{% if author.image %}
					<img style="width: 75%; height: auto" src="{{ author.image.url | urlencode }}"/> 
				{% else %}
					<img src="/static/img/placeholder.png" class="img-thumbnail"/>
				{% endif %}
			</div>
			<div class="col-md-8">
				<p><strong>Email:</strong> {{author.user.email}}</p>
				<p><strong>ID:</strong> {{author.guid}}</p>
			</div>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">Images</h2>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">Posts</h2>
				</div>

				<ul class="list-group">
					{% for post in user_posts %}
						<a href="/posts/{{post.id}}/" class="list-group-item">
							<h4 class="list-group-item-heading"> {{ post.title }} <small> on {{ post.pubDate }} </small></h4>
							<div class="well">
								<p class="list-group-item-text">{{ post.content | safe }}</p>
							</div>
							<p class="text-right">{{post.comment_set.all|length}} Comments</p>
						</a>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}